@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*  */
*{
    box-sizing: border-box;
}


body{
    font-family: 'roboto'sans-serif;
    margin: 0;
    background-color: #333; /* Behind the container */
    color: #222;
    overflow-x: hidden; /* hides scroll on X axes */
}


.container{
    background-color: #fafafa;
    transform-origin: top left; /* we want it to rotate from the top left position */
    transition: transform 0.5s linear; /* smooth transition */
    width: 100vw;
    min-height: 100vh;
    padding: 50px;

}


.container.show-nav{
    transform: rotate(-20deg); /* rotate it to the right and up */
}


.circle-container{
    position: fixed; /* sticks to the top left corner */
    top: -100px; /* full circle but you will only see a half circle */
    left: -100px;

}


.circle{
    background-color: #ff7979;
    height: 200px; /*  */
    width: 200px;
    border-radius: 50%;
    position: relative; /* position buttons inside absolute */
    transition: transform 0.5s linear; /* this will make it rotate smootly */

}


.container.show-nav .circle{
    transform: rotate(-70deg)
}


.circle button {
    cursor: pointer;
    position: absolute; /* sitcks them inside circle continer */
    top: 50%; /* positions */
    left: 50%; /* posisitons */
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}


.circle button:focus{
    outline: none;

}


.circle button#open{
    left: 60%;
}


.circle button#close{
    top: 60%;
    transform: rotate(90deg); /* this allows it to rotate  */
    transform-origin: top left; /* moves it to specific area within the circle  */

}

/* We want to see all the nav when the show-nav class applies */
.container.show-nav + nav li {
    transform: translateX(0); /* bring to original place */
    transition-delay: 0.3s; /* add a delay*/
}



nav{
    position: fixed; 
    bottom: 40px; /*40 px up */
    left: 0; /* on the left */
    z-index: 100; /* on top of everything */

}

nav ul{
    list-style-type: none; /* gets rid of bullet points */
    padding-left: 30px;


}


nav ul li {
    text-transform: uppercase; 
    color: #fff;
    margin: 40px 0; /* seperate them from eahcother */
    transform: translateX(-100%); /* bring it left */
    transition: transform 0.4s ease-in; /* come in smoothly  */
}


nav ul li i {
    font-size: 20px;
    margin-right: 10px;/* space between icon and text */
}


nav ul li + li {
    margin-left: 15px; /* second icon will stick out  */
    transform: translateX(-150%); /* smoothly slide */
}

nav ul li + li + li {
    margin-left: 30px;  
    transform: translateX(-200%);
}


.content img{
    max-width: 100%;
}


.content {
    max-width: 1000px;
    margin: 50px auto;

}


content h1{
    margin: 0;

}


.content small {
    color: #555;
    font-style: italic;
}


.content p{
    color: #333;
    line-height: 1.5; /* spacing between lines making them taller */

}

