@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Color Palette */
:root{
    --apricot: #FFCDB2;
    --melon: #FFB4A2;
    --pastel: #E5989B;
    --english-lav: #B5838D;
    --old-lavender: #6D6875;
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'roboto'sans-serif;
    margin: 0;
    background-image: linear-gradient(to right,#FFCDB2, #B5838D, #6D6875); 
    color: var(--old-lavender);
    overflow-x: hidden;
}
.container{
    background-color: var(--apricot);
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}
.container.show-nav{
    transform: rotate(-20deg);
}
.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background-color: var(--pastel);
    height: 200px;
    width:200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;

}
.container.show-nav .circle{
    transform: rotate(-70deg);
}
.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: var(--old-lavender);

}
.circle button:focus{
    outline: none;
}
.circle button#open{
    left: 60%;
}
.circle button#close{
    top: 60%;
    transform-origin: top left;
    transform: rotate(90deg);
}
.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay:0.3s;
}
nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
nav ul{
    list-style-type: none;
    padding-left: 30px;
}
nav ul li{
    text-transform: uppercase;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;

}
nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}
nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%); 
}
nav ul li + li + li {
    margin-left: 30px;  /* Third icon  */
    transform: translateX(-200%);
}

.content img{
    max-width: 100%;

}
.content{
    max-width:1000px;
    margin: 50px auto;

}
.content h1{
    color: var(--old-lavender);
    margin: 0;
    text-align: center;
}
.content small{
    color: var(--old-lavender);
    font-style: italic;
    text-align: center;
}

